amqp==2.3.2
appdirs==1.4.3
asn1crypto==0.24.0
attrs==18.1.0
beautifulsoup4==4.6.1
billiard==3.5.0.4
bs4==0.0.1
cached-property==1.4.3
celery==4.2.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
configparser==3.5.0
cryptography==2.3
defusedxml==0.5.0
Django==2.0.4
django-crontab==0.7.1
et-xmlfile==1.0.1
idna==2.7
isodate==0.6.0
jdcal==1.4
kombu==4.2.1
lxml==4.2.4
openpyxl==2.5.6
Pillow==6.2.0
pycparser==2.18
PyMySQL==0.9.2
pytz==2018.3
rc-django-celery-results==1.0.1
redis==2.10.6
requests==2.19.1
requests-toolbelt==0.8.0
selenium==3.14.0
six==1.11.0
SQLAlchemy==1.2.10
suds-jurko==0.6
urllib3==1.23
vine==1.1.4
zeep==3.1.0


